shp/Gebaeude_Bauteile_Flaechen.cpg
shp/Gebaeude_Bauteile_Flaechen.dbf
shp/Gebaeude_Bauteile_Flaechen.prj
shp/Gebaeude_Bauteile_Flaechen.sbn
shp/Gebaeude_Bauteile_Flaechen.sbx
shp/Gebaeude_Bauteile_Flaechen.shp
shp/Gebaeude_Bauteile_Flaechen.shp.xml
shp/Gebaeude_Bauteile_Flaechen.shx
tiles/*
tiles/.gitkeep
json/*
json/.gitkeep
.vscode
.env
.envrc
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
mbtiles/alkis.mbtiles
node_modules
