shp/Gebaeude_Bauteile_Flaechen.cpg
shp/Gebaeude_Bauteile_Flaechen.dbf
shp/Gebaeude_Bauteile_Flaechen.prj
shp/Gebaeude_Bauteile_Flaechen.sbn
shp/Gebaeude_Bauteile_Flaechen.sbx
shp/Gebaeude_Bauteile_Flaechen.shp
shp/Gebaeude_Bauteile_Flaechen.shp.xml
shp/Gebaeude_Bauteile_Flaechen.shx
